/Api/AppLogs/
.idea
.sonarqube
*.pb
*.dll
/Infrastructure/obj
/Infrastructure/bin
/Api/obj
/Api/bin
/Domain/obj
/Domain/bin
/Application/obj
/Application/bin
/TicketsApi/obj
/TicketsApi/bin
/Security.Api/obj
/Security.Api/bin
/Security.Domain/bin
/Security.Domain/obj
/Security.Infrastructure/obj
/Security.Infrastructure/bin
/Security.Application/obj
/Security.Application/bin
/TicketsGateway.Infrastructure/bin
/TicketsGateway.Infrastructure/obj
/TicketsGateway.Application/obj
/TicketsGateway.Application/bin
/TicketsGateway.Domain/obj
/TicketsGateway.Domain/bin
/TicketsGateway.Api/obj
/TicketsGateway.Api/bin
